body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url('../images/test.jpg'); 
    background-size: 100%;
    background-repeat: no-repeat;
}

a {
    color: #00B7FF;
}
